# Some of the external git repos are not upstream servers but upstream clones to
# avoid "Server does not allow request for unadvertised object" errors (see
# #1654).
[submodule "binutils"]
	path = binutils
	url = https://github.com/tenstorrent/binutils-gdb-tt.git
	branch = master
	shallow = true
[submodule "gcc"]
	path = gcc
	url = https://github.com/tenstorrent/gcc-tt.git
	branch = tt-master
	shallow = true
[submodule "glibc"]
	path = glibc
	url = https://github.com/tenstorrent/glibc-tt.git
	shallow = true
[submodule "gdb"]
	path = gdb
	url = https://github.com/tenstorrent/binutils-gdb-tt.git
	branch = gdb-16-branch
	shallow = true
[submodule "qemu"]
	path = qemu
	url = https://github.com/tenstorrent/qemu-tt.git
	shallow = true
[submodule "llvm"]
	path = llvm
	url = https://github.com/tenstorrent/llvm-project-tt.git
	branch = release/20.x
	shallow = true
