[submodule "binutils"]
	path = binutils
	url = https://github.com/tenstorrent-riscv-software/binutils-gdb.git
	branch = binutils-2_46-branch
	shallow = true
[submodule "gcc"]
	path = gcc
	url = https://github.com/tenstorrent-riscv-software/gcc.git
	branch = releases/gcc-16
	shallow = true
[submodule "glibc"]
	path = glibc
	url = https://github.com/tenstorrent-riscv-software/glibc.git
	shallow = true
[submodule "gdb"]
	path = gdb
	url = https://github.com/tenstorrent-riscv-software/binutils-gdb.git
	branch = gdb-16-branch
	shallow = true
[submodule "qemu"]
	path = qemu
	url = https://github.com/tenstorrent-riscv-software/qemu.git
	shallow = true
[submodule "llvm"]
	path = llvm
	url = https://github.com/tenstorrent-riscv-software/llvm-project.git
	branch = release/20.x
	shallow = true
