[submodule "binutils"]
	path = binutils
	url = https://sourceware.org/git/binutils-gdb.git
	branch = binutils-2_46-branch
	shallow = true
[submodule "gcc"]
	path = gcc
	url = https://github.com/gcc-mirror/gcc.git
	branch = releases/gcc-16
	shallow = true
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
	shallow = true
[submodule "gdb"]
	path = gdb
	url = https://sourceware.org/git/binutils-gdb.git
	branch = gdb-16-branch
	shallow = true
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
	shallow = true
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
	branch = release/20.x
	shallow = true
